body{
  background-color: #db5f25;
}

@media (min-width: 992px) and (max-width: 1199px) {
  body { background-color: red; }
}
/* HEADER Y TITULOS*/
header{
  background-color: black;
  color: #47d15e;
  width: 100%;
  min-height: 10vh;
  height: auto;
  transition: background-color 1s 0s,color 1s 0s;
}

header:hover{
  background-color:#47d15e;
  color: black;
}

#tituloP{
  text-decoration: underline;
  text-align: center;
}

.titulo{
  text-decoration: underline;
  font-size: 1.5em;
}

/* NAV*/
nav{
  background-color: #edc132;
  padding: 2px;
  font-size: 1.3em;
  padding: 10px;
}

/*BOTON */
.btn{
  width: 7.5vw;
  height: 4vh;
  margin-left: 20px;
  background: grey;
  border: 1px solid;
  transition: background-color,margin 1.5s ease-out;
}

.btn:hover{
  margin: 1% 1% 1% 25px;
  border: 1px solid black;
  background: lightblue;
}


/* FOOTER Y SUS PARTES*/
footer{
  display: flex;
  background-color: grey;
  clear: both;
}

footer img{
  height: 100%;
  width: 100%;
}

.fImg{/*Esta es la clase de los contenedores de las img en el footer*/
  width: 8vh;
  height: 4vw;
  padding: 5px;
}


/* ENLACES */
nav a:hover{
  font-size: 1.2em;
  background-color: #348feb;
}
