@font-face {
  font-family: "delight candles";
  src: url("../fuentes/DelightCandles.ttf")
  format("truetype");
}

body{
  background-color: #db5f25;
}

/* HEADER Y TITULOS*/
header{
  background-color: black;
  color: #47d15e;
  width: 100%;
  min-height: 10vh;
  height: auto;
  transition: background-color 1s 0s,color 1s 0s;
}

header:hover{
  background-color:#47d15e;
  color: black;
}

#tituloP{
  text-decoration: underline;
  text-align: center;
}

.titulo{
  text-decoration: underline;
  font-size: 1.5em;
}

/*MAIN Y SUS PARTES*/
main{
  background-color: #43eb34;
  display: flex;
  flex-direction: row;
}

.parrafo{
  font-size: 1.2em;
  font-family: "delight candles";
}

.imagen{
  height: 35vh;
  width: 25vw;
  padding: 1%;
  border: 1px solid black;
}

.imagen img{
  height: 25vh;
  width: 13vw;
  transition:margin 1.5s 0s;
}

.imagen img:hover{
  margin: 10px;
}

/* NAV y sus PARTES*/
nav{
  background-color: #edc132;
  padding: 2px;
  font-size: 1.3em;
}

nav ul {
  margin: 0 5px 0 5px;
  padding: 0;
}
nav ul li {display: inline-block;}/*LOS ELEMENTOS DENTRO DE LA BARRA NAV ESTEN ORDENADOS UNO AL LADO DEL OTRO*/
nav ul li:hover {background: #edc132;}
nav ul li:hover ul {display: block;}/*CON ESTA LOGRO QUE SE VEA CUANDO EL MOUSE ESTE ENCIMA */
nav ul li ul { /* CON ESTA PARTE LOGRO QUE LA LISTA NO SE VEA*/
  position: absolute;
  display: none;
}
nav ul li ul li {/*ESTILO DE LA LISTA DE ENLACES*/
  background: #edc132;
  display: block;
}


/*PRIMER SECTION Y PRIMER ASIDE*/
.sec1{
  background-color: #6e460b;
  float: left;
  width: 50%;
  height: 72vh;
}

.asi1{
  background-color: #6e460b;
  width: 49%;
  float: left;
  height: 72vh;
  overflow: scroll;
}

p, li{
  color: #202745;
  text-align: left;
}
section ul li, aside ol li{
  font-family: 'Teko', sans-serif;
}

/* SEGUNDO SECTION  Y SEGUNDO ASIDE*/
.sec2{
  background-color: tomato;
  width: 50%;
  float: left;
  height: 96vh;
  overflow: scroll;
}

.asi2{
  background-color: tomato;
  width: 49%;
  float: left;
  height: 96vh;
}

aside iframe, section iframe{
  height: 64vh;
  width: 85%;
  overflow: scroll;
}

audio{
  max-width: 15vw;
}

/* FOOTER Y SUS PARTES*/
footer{
  background-color: grey;
  clear: both;
}

footer img{
  width: 4.5vh;
  height: 4vw;
  padding: 5px;
}

/* ICONO DE WASAP*/
.wasap{
  position: fixed;
  top: 85%;
  right: 1%;
}

.wasap img{
  width: 8vh;
  height: 4.6vw;
}

.wasap img:hover{
  border: 3px solid #85c1ff;
  border-radius: 50%;
}

/* ENLACES */
nav a:hover, nav a h3:hover{
  font-size: 1.22em;
  background-color: #348feb;
}

li ul li a::after, li ul li a::before{
content: " ' ";
}
